In [1]:
2+2

4

In [1]:
import keyword

In [5]:
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [10]:
with3=5

In [11]:
returnis=5

In [12]:
withL=5

In [13]:
With=5

In [14]:
While=7

In [15]:
trY=4

In [16]:
yeild=9

In [18]:
tryis="adsfhjhsdkjf"

In [19]:
abc=10.2343

In [20]:
ab=-10

In [22]:
abcie=10+123-4543*2

In [23]:
i=5
type(i)

int

In [24]:
i=4.5
type(i)

float

In [25]:
i=True
type(i)

bool

In [26]:
i="premalatha"
type(i)

str

In [27]:
# asjdflhjsdjkfa

In [44]:
i=23 #its integer
j="new one" # its string type
print (i) 
print (j)

23
new one

In [38]:
#its multiline commant line 

"""asdfasdfsaadsfasdsdggggggggggghgits end """

'asdfasdfsa\nadsfasd\ndsafsd\ndsfasdf\ndfdfe\nsdfsd\n\nsdf\nasd\nf\nsd\nf\nd\nf\nsd\nf\ns\nits end '

In [45]:
i=3
j=23
k=999
print (i+k)
print (j+i)
print (i*34)
print (k/9)

1002
26
102
111.0

In [50]:
j=10
i=10+34
print(j)
print (i)
type (i)
# type(j)

10+34
44

int

In [51]:
type(i)

int

In [52]:
type(j)

str

In [72]:
def newone(i,j):
    """ function to add two numbers
    """
    a=i+j
    return a

In [64]:
newone(2,3)

5

In [73]:
print (newone.__doc__)

 function to add two numbers

In [101]:
c="asdhfjasdflh\n\
   asdkfhjkas\n\
   sdjfsak\n\
   asdfsd\n\
   sadfadf\n\
   sdafasdsak"
print (c)

asdhfjasdflh
   asdkfhjkas
   sdjfsak
   asdfsd
   sadfadf
   sdafasdsak

In [100]:
a="skjfaskdfhas\nsfsfsdffsd\nsdfsdf\nfajsdfhkjashdkfjhskjd"
print (a)

skjfaskdfhas
sfsfsdffsd
sdfsdf
fajsdfhkjashdkfjhskjd

In [104]:
a=12+\
23*\
54646-\
345
a

1256525

In [105]:
a=34;b=56;c=54656;c=c+a+b;c

54746

In [115]:
b=1234353466
print ("the arithmetic operstions result" )

the arithmetic operstions result

In [116]:
x=2342
id(x)

859159634064

In [117]:
y=2342
id(y)

859159634672

In [118]:
x=5
id(x)

140731089658384

In [119]:
y=5
id(y)

140731089658384

In [120]:
y=234
id(y)

140731089665712

In [121]:
x="asdjfjhs"
id(x)

859159535536

In [122]:
x='a'
id(x)

859078716336

In [123]:
y="asdjfjhs"
id(y)

859159533680

In [124]:
i=12
j=34
k=i+j
id(k)

140731089659696

In [4]:
a="sdfjhjhsdfhgsdhfj"
a[3]
a[:]
a[2:]
a[:5]
a[::2]
a[4::2]
a[5::4] # slicing

'jfd'

In [137]:
i=[] #data structures
type(i)

list

In [134]:
i=5,
type(i)

tuple

In [136]:
i={}
type(i) #set also available

dict

In [138]:
i=["names","age","marks"]
print (i)

['names', 'age', 'marks']

In [10]:
i=["names",1,1.4,{1,2},[1,3,4,5,6,7]]
print (i)

['names', 1, 1.4, {1, 2}, [1, 3, 4, 5, 6, 7]]

In [7]:
i[2:5]

[1.4, {1, 2}, [1, 3, 4, 5, 6, 7]]

In [9]:
i[0:]

['names', 1, 1.4, {1, 2}]

In [142]:
i[:2]

['names', 1]

In [143]:
i[::2]

['names', 1.4, [1, 3, 4, 5, 6, 7]]

In [144]:
i[:2:2]

['names']

In [12]:
i.pop(1)
print(i)

['names', 1.4, {1, 2}]

In [145]:
len(i)

5

In [146]:
len(i[3])

2

In [147]:
len(i[4])

6

In [148]:
len(i[0])

5

In [154]:
a=len(i)
a=a*3
a

15

In [165]:
i.append("asdf")
i

['sadfsd', 'qwer', 'tyuu', ['YTTu', 'sdfgsdfg', 'yuiyi'], 'asdf']

In [157]:
i.insert(1,34)
i

['names', 34, 1, 1.4, {1, 2}, [1, 3, 4, 5, 6, 7], 'asdf', 'asdf']

In [159]:
i.remove(1)
i

['names', 34, 1.4, {1, 2}, [1, 3, 4, 5, 6, 7], 'asdf', 'asdf']

In [5]:
i=["sadfsd","qwer","tyuu"]
j=["YTTu","sdfgsdfg","yuiyi"]
i.append(j)
i

['sadfsd', 'qwer', 'tyuu', ['YTTu', 'sdfgsdfg', 'yuiyi']]

In [167]:
i.extend(j)
i

['sadfsd', 'qwer', 'tyuu', 'YTTu', 'sdfgsdfg', 'yuiyi']

In [170]:
del(i[2])
i

['sadfsd', 'qwer', 'YTTu', 'sdfgsdfg', 'yuiyi']

In [173]:
5 not in [1,2,3]

True

In [183]:
i.reverse()

type(len(i))

int

In [192]:
a=[1,56,7,78,3]
sorted(a)
type(sorted(a))

list

In [194]:
sorted(a,reverse=True)

[78, 56, 7, 3, 1]

In [197]:
a.sort()
a

[1, 3, 7, 56, 78]

In [201]:
a.sort(reverse=True)
a

[78, 56, 7, 3, 1]

In [202]:
k=[1,2,3,4]
j=k
k.append(2)
k

[1, 2, 3, 4, 2]

In [203]:
j

[1, 2, 3, 4, 2]

In [1]:
i="asd,fjsa,hdj,fk"
i

'asd,fjsa,hdj,fk'

In [3]:
i="asd,fjsa,hdj,fk"
j=i.split(",")
j

['asd', 'fjsa', 'hdj', 'fk']

In [209]:
k.count(2)

2

In [214]:
lst=[1,5,6,7,8,3,9,9,]
for a in lst:
    print (a)

1
5
6
7
8
3
9
9

In [215]:
range(10)

range(0, 10)

In [216]:
list (range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [219]:
for i in range(10):
    
    print(i)

0
1
2
3
4
5
6
7
8
9

In [223]:
square=[]
for i in range(10):
    square.append(i**2)
square

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [224]:
square=[(i**2) for i in range(10)]
square

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [3]:
r=(1,)
r

(1,)

In [4]:
r=('e',"asdifys",2324,4.5,[3,5,7],(1,2,3),{34,56})
r

('e', 'asdifys', 2324, 4.5, [3, 5, 7], (1, 2, 3), {34, 56})

In [7]:

r

('e', 'asdifys', 2324, 4.5, [3, 5, 7], (1, 2, 3), {34, 56})

r.id(3)

In [11]:
r[3]

4.5

In [13]:
r1=(1,2,3,4)
r2=(34,45,6,7,45)
r3=r1+r2
r3

(1, 2, 3, 4, 34, 45, 6, 7, 45)

In [19]:
a="Premalatha"
#a[-4:-2:1]

In [23]:
a[-8:-2:2]

'eaa'

In [24]:
a[-10:-1:2]

'Peaah'

In [25]:
a=[1,2,3,56,7,7,8,9,9,32,5,4]
a[-10::2]

[3, 7, 8, 9, 5]

In [26]:
a[:-4:2]

[1, 3, 7, 8]

In [5]:
b=(2,3,4,3,6,7,8,8,3,2,1,3,4,6)
b[-10:-3:3]

(6, 8, 1)

In [6]:
c=(1,2,3,4,5,6,7)
d=b+c
b

(2, 3, 4, 3, 6, 7, 8, 8, 3, 2, 1, 3, 4, 6)

In [11]:
type(c)

tuple

In [13]:
for i in c:
    e=c*2
    print(e[i])

2
3
4
5
6
7
1

In [24]:
c.count(2)

1

In [21]:
c.index(4)

3

In [22]:
c

(1, 2, 3, 4, 5, 6, 7)

In [43]:
len(c)

7

In [37]:
type(c)

tuple

In [7]:
x=("apple","banana","orange")
y=list(x)
y[1]="kiwi"
x=tuple(y)
print(x)
print(y)

('apple', 'kiwi', 'orange')
['apple', 'kiwi', 'orange']

In [48]:
c.sort()

AttributeError: 'tuple' object has no attribute 'sort'

In [39]:
c.remove[2]

AttributeError: 'tuple' object has no attribute 'remove'

In [40]:
c.insert(1,3242)
c

AttributeError: 'tuple' object has no attribute 'insert'

In [4]:
c=(1,2,3,4,5,65,57)
reverse(c)

NameError: name 'reverse' is not defined

In [9]:
r=("abc","asdg","ajsgf")
for a in r:
    print (a)

abc
asdg
ajsgf

In [19]:
r=('a','b','c')
r.index("b")

1

In [62]:
sorted(b)

[1, 2, 2, 3, 3, 3, 3, 4, 4, 6, 6, 7, 8, 8]

In [60]:
del (c)

In [63]:
b.count(3)

4

In [64]:
b.count(8)

2

In [65]:
b.index(1)

10

In [67]:
min(b)

1

In [68]:
max(b)

8

In [69]:
i=(1,2,3,4,5,5)
j=(34,56,78,34,34,65)
k=i+j

In [70]:
k

(1, 2, 3, 4, 5, 5, 34, 56, 78, 34, 34, 65)

In [71]:
i1=(23423,)
i2=(23,)
sum(i1+i2)

23446

In [72]:
a={}
type(a)

dict

In [75]:
a={11:"asdfasdf",12:"sfasdasdf",13:"iryueteuti",14:"sadgakdhagsd"}
a

{11: 'asdfasdf', 12: 'sfasdasdf', 13: 'iryueteuti', 14: 'sadgakdhagsd'}

In [79]:
a[11]

'asdfasdf'

In [82]:
b={"h2":23466,"h4":4586654,"h5":"sjgdgfjhgdj","h8":[1,2,3,4],9:(1,2,3,4,5,76,21),"asdf":4564665}

b["h2"]

In [85]:
b[9]

(1, 2, 3, 4, 5, 76, 21)

In [86]:
b["h8"]

[1, 2, 3, 4]

In [87]:
b["asdf"]

4564665

In [88]:
b1={1:"asdfjhsgf",2:{4:"pink",5:"red"},3:34534534}
b1[2]

{4: 'pink', 5: 'red'}

In [20]:
a=5
b=10
c=a+b
c

15

In [96]:
b1[3]

34534534

In [160]:
b3=dict({"akhdfs":(1,2,3,4,5),"avc":"asjdgfsd",1:234,"aj":26348973,764:483465})
b3

{'akhdfs': (1, 2, 3, 4, 5),
 'avc': 'asjdgfsd',
 1: 234,
 'aj': 26348973,
 764: 483465}

In [130]:
b3.keys()

dict_keys(['akhdfs'])

In [131]:
b3.values()

dict_values([((1, 2, 3, 4, 5), {'avc': 'asjdgfsd', 1: 234}, (561, 78), {'ajdfahsd': 26348973}, {764: 483465}, (343, 456, 456))])

In [143]:
b3["akhdfs"]

(1, 2, 3, 4, 5)

In [142]:
b3[1]

234

In [144]:
b3["avc"]

'asjdgfsd'

In [145]:
b3[764]

483465

In [146]:
b3.values()

dict_values([(1, 2, 3, 4, 5), 'asjdgfsd', 234, 26348973, 483465])

In [147]:
b3[34]

KeyError: 34

In [148]:
b3[avc]

NameError: name 'avc' is not defined

In [149]:
b3[76]

KeyError: 76

In [161]:
b3[764]

483465

In [162]:
del(b3[764])
b3

{'akhdfs': (1, 2, 3, 4, 5), 'avc': 'asjdgfsd', 1: 234, 'aj': 26348973}

In [191]:
b3["avc"]=128731627183
b3

{'akhdfs': (1, 2, 3, 4, 5), 'avc': 128731627183, 1: 234, 'aj': 26348973}

In [200]:
for b3["akhdfs"] in b3:
    print ("its available")

its available
its available
its available
its available

In [201]:
if "akhdfs" in b3:
    print ("it present")

it present

In [205]:
if "akhdfs" in b3:
    b3["akhdfs"]=23657
b3

{'akhdfs': 23657, 'avc': 128731627183, 1: 'aj', 'aj': 'aj'}

In [239]:
b3.values()

dict_values([23657, 128731627183, 'aj', 'aj'])

In [221]:
b5=b3.copy()
b5

{'akhdfs': 23657, 'avc': 128731627183, 1: 'aj', 'aj': 'aj'}

In [223]:
b7={1:345,6:678768,4:9878,9:3478}
b7

{1: 345, 6: 678768, 4: 9878, 9: 3478}

In [235]:
for b7[1] in b7:
    print ("its available")

its available
its available
its available
its available

In [240]:
b3.items()

dict_items([('akhdfs', 23657), ('avc', 128731627183), (1, 'aj'), ('aj', 'aj')])

In [242]:
for "akhdfs", 23657 in b3s:
    print b3

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(b3)? (<ipython-input-242-25942993ed86>, line 2)

In [22]:
for x{} in b3:
    print (x{})

SyntaxError: invalid syntax (<ipython-input-22-032ce25f131f>, line 1)

In [24]:
a={1:34867,2:384798,3:38465983749,4:38475935,5:"wuegfurye"}
for x in a:
    print (x)

1
2
3
4
5

In [25]:
for x in a:
    print (a[x])

34867
384798
38465983749
38475935
wuegfurye

In [27]:
for x in a.values():
    print(x)

34867
384798
38465983749
38475935
wuegfurye

In [28]:
for x,y in a.items():
    print(x,y)

1 34867
2 384798
3 38465983749
4 38475935
5 wuegfurye

In [30]:
if 3 in a:
    print ("its exist")

its exist

In [25]:
a={"ab1":384587,"bc2":4967,"cd3":38476738,"de4":9685}
type(a)

dict

In [27]:
for x,y,z in a:
    x3=y*2
    x4=z*2
    print(a,x,y,x3,x4)

{'ab1': 384587, 'bc2': 4967, 'cd3': 38476738, 'de4': 9685} a b bb 11
{'ab1': 384587, 'bc2': 4967, 'cd3': 38476738, 'de4': 9685} b c cc 22
{'ab1': 384587, 'bc2': 4967, 'cd3': 38476738, 'de4': 9685} c d dd 33
{'ab1': 384587, 'bc2': 4967, 'cd3': 38476738, 'de4': 9685} d e ee 44

In [29]:
f=[2,5,6,8,9,12,45,67,1]
for x in f:
    a1=x*2
    print (x,a1)

2 4
5 10
6 12
8 16
9 18
12 24
45 90
67 134
1 2

In [38]:
for x in a.values():
    print (x,x*2)

384587 769174
4967 9934
38476738 76953476
9685 19370

In [44]:
a={121,234,546,32,23,32,56,6,}
a

{6, 23, 32, 56, 121, 234, 546}

In [49]:
a1={"abc",1,2,3,4,(1,2,3,4)}
a1

{(1, 2, 3, 4), 1, 2, 3, 4, 'abc'}

In [60]:
a2=set([1,2])
a2

{1, 2}

In [68]:
a3=set((1,2,(3,4),5,(45,(34,12)),"sjgd","asjgf"))
a3

{(3, 4), (45, (34, 12)), 1, 2, 5, 'asjgf', 'sjgd'}

In [73]:
a3.add(123)
a3

{(3, 4), (45, (34, 12)), 1, 123, 2, 5, 'asjgf', 'sjgd'}

In [74]:
a3.update("kjhggd")
a3

{(3, 4),
 (45, (34, 12)),
 1,
 123,
 2,
 5,
 'asjgf',
 'd',
 'g',
 'h',
 'j',
 'k',
 'sjgd'}

In [77]:
a3.add(84754975945)
a3

{(3, 4),
 (45, (34, 12)),
 1,
 123,
 2,
 5,
 84754975945,
 'asjgf',
 'd',
 'g',
 'h',
 'j',
 'k',
 'sjgd'}

In [79]:
a3.add("prema")
a3.update("latha")
a3

{(3, 4),
 (45, (34, 12)),
 1,
 123,
 2,
 5,
 84754975945,
 'a',
 'asjgf',
 'd',
 'g',
 'h',
 'j',
 'k',
 'l',
 'prema',
 'sjgd',
 't'}

In [81]:
a3.add(43444)
a3

{(3, 4),
 (45, (34, 12)),
 1,
 123,
 2,
 43444,
 5,
 84754975945,
 'a',
 'asjgf',
 'd',
 'g',
 'h',
 'j',
 'k',
 'l',
 'prema',
 'sjgd',
 't'}

In [83]:
a3.update([1,2,3,4,5])
a3

{(3, 4),
 (45, (34, 12)),
 1,
 123,
 2,
 3,
 4,
 43444,
 5,
 84754975945,
 'a',
 'asjgf',
 'd',
 'g',
 'h',
 'j',
 'k',
 'l',
 'prema',
 'sjgd',
 't'}

In [85]:
a3.discard((3,4))
a3

{(45, (34, 12)),
 1,
 123,
 2,
 3,
 4,
 43444,
 5,
 84754975945,
 'a',
 'asjgf',
 'd',
 'g',
 'h',
 'j',
 'k',
 'l',
 'prema',
 'sjgd',
 't'}

In [86]:
a3.remove("prema")
a3

{(45, (34, 12)),
 1,
 123,
 2,
 3,
 4,
 43444,
 5,
 84754975945,
 'a',
 'asjgf',
 'd',
 'g',
 'h',
 'j',
 'k',
 'l',
 'sjgd',
 't'}

In [89]:
a3.remove("l")
a3

{(45, (34, 12)),
 1,
 123,
 2,
 3,
 4,
 43444,
 5,
 84754975945,
 'a',
 'asjgf',
 'd',
 'g',
 'h',
 'j',
 'k',
 'sjgd',
 't'}

In [90]:
a3.pop()
a3

{(45, (34, 12)),
 123,
 2,
 3,
 4,
 43444,
 5,
 84754975945,
 'a',
 'asjgf',
 'd',
 'g',
 'h',
 'j',
 'k',
 'sjgd',
 't'}

In [ ]:
#clear will remove all

In [95]:
b1=set((1,2,3,4,5,6,7,88,9,54,234,34,56,76,34))
b2=set((1,2,45,65,76,87,78,456,456,43,34,56,76))
b3=b1&b2
b3

{1, 2, 34, 56, 76}

In [94]:
b4=b1|b2
b4

{1, 2, 3, 4, 5, 6, 7, 9, 34, 43, 45, 54, 56, 65, 76, 78, 87, 88, 234, 456}

In [98]:
b1.union(b1|b2)

{1, 2, 3, 4, 5, 6, 7, 9, 34, 43, 45, 54, 56, 65, 76, 78, 87, 88, 234, 456}

In [99]:
b1.intersection(b1&b2)

{1, 2, 34, 56, 76}

In [100]:
b1-b2

{3, 4, 5, 6, 7, 9, 54, 88, 234}

In [101]:
b1.difference(b2)

{3, 4, 5, 6, 7, 9, 54, 88, 234}

In [102]:
b2-b1

{43, 45, 65, 78, 87, 456}

In [107]:
b1.intersection(b2|b1)

{1, 2, 3, 4, 5, 6, 7, 9, 34, 54, 56, 76, 88, 234}

In [108]:
n="premalatha"
n

'premalatha'

In [109]:
n[3]

'm'

In [110]:
n[-3]

't'

In [112]:
n[2:7:2]

'eaa'

In [114]:
n[0]='t'
n

TypeError: 'str' object does not support item assignment

In [115]:
n[1:10:3]

'rat'

In [116]:
n[-8:-2:3]

'el'

In [120]:
n="premalatha"
del n

In [136]:
# in this string how many letter present 'a'
n="premalatha"
for a in n:
    b=n.count(a)
print(b,a,n)

3 a premalatha

In [137]:
for a in n:
    b=n.index(a)
    b=b+1
print(b)

5

In [163]:
len(n)

10

In [2]:
n="premalatha"
for a in n:
    print("its available")
    break

its available

In [154]:
'em' in n

True

In [157]:
n.isupper()

False

In [158]:
n.upper()

'PREMALATHA'

In [159]:
n.lower()

'premalatha'

In [162]:
n

'premalatha'

In [165]:
n1="prema"
n2="latha"
n3=n1+n2
n3

'premalatha'

In [166]:
n.capitalize()

'Premalatha'

In [175]:
n6=["hi", "im doing data science lass","everyday classes", "asdfjksdhfksd","sdfadsfa","werwetreergdfg","dsfgsdgsdfg","sdfhgjhgjhgshd","jfghfgdjgjsgfhgjsgjg"]
n5=n.join(n6)
n5

'hipremalathaim doing data science lasspremalathaeveryday classespremalathaasdfjksdhfksdpremalathasdfadsfapremalathawerwetreergdfgpremalathadsfgsdgsdfgpremalathasdfhgjhgjhgshdpremalathajfghfgdjgjsgfhgjsgjg'

In [176]:
n

'premalatha'

In [178]:
k1=" "
k2=["flower","fruits","veg","nonveg","food"]
k3=k1.join(k2)
k3

'flower fruits veg nonveg food'

In [180]:
k4=" abc "
k5=["flower","fruits","veg","nonveg","food"]
k6=k4.join(k5)
k6

'flower abc fruits abc veg abc nonveg abc food'

In [181]:
n="premalatha"
n.find("e")

2

In [182]:
n.replace("r","R")

'pRemalatha'

In [188]:
k=("flower,fruits,veg,nonveg,food")
k.replace("fruits","nuts")

'flower,nuts,veg,nonveg,food'

In [205]:
k="madam"
a=reversed(k)
k

'madam'

In [206]:
a

In [207]:
range(10)

range(0, 10)

In [208]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [210]:
list(reversed(k))

['m', 'a', 'd', 'a', 'm']

In [211]:
a=""
b=a.join(k)
b

'madam'

In [215]:
k

'madam'

In [216]:
if k==b:
    print("its palindrome")

its palindrome

In [8]:
l="racecar"
m=reversed(l)
m

In [33]:
n=list(reversed(l))
n1=""
u=n1.join(n)
u

'racecar'

In [32]:
if (l==u):
    print ("its palidrome word")
else:
    print ("its not palidrome word")

its palidrome word

In [243]:
a="fruits veg Flower food apple Banana Reg orange pink yellow"
type(a)
#a.sort()

str

In [247]:
b=a.split(" ")
b

['fruits',
 'veg',
 'Flower',
 'food',
 'apple',
 'Banana',
 'Reg',
 'orange',
 'pink',
 'yellow']

In [240]:
list(sort(b))

NameError: name 'sort' is not defined

In [248]:
list.sort(b)
b

['Banana',
 'Flower',
 'Reg',
 'apple',
 'food',
 'fruits',
 'orange',
 'pink',
 'veg',
 'yellow']

In [242]:
b

['apple',
 'banana',
 'flower',
 'food',
 'fruits',
 'orange',
 'pink',
 'reg',
 'veg',
 'yellow']